@import "../../../assets/style/variables";

.data-container{
  padding: 140px 50px 10px 200px;
  max-width: 100%;

  .form-group{
    width:50%;
    font-size: 1rem;
  }

  .btn{
    width:80px;
    margin-left: 30%;
  }

  label{
    margin-top: 10px;
    margin:10px 0 0 0;
  }

  input{
    margin:0;
  }

}
