<app-header>
  <h1 header-info>cars list </h1>
    <div levels>add new car</div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="data-container">
      <h1 class="" id="add-car"></h1>
      <h2 id="car-details"></h2>
        <form [formGroup] ="carForm">
          <div class="row form-group">
            <label>Mark</label>
            <input formControlName="mark" type="text" class="form-control" placeholder="mark">
            <p *ngIf="!carForm.get('mark').valid && carForm.get('mark').dirty" class="error">This field is required!</p>

            <label>Model</label>
            <input formControlName="model" type="text" class="form-control" placeholder="model">
            <p *ngIf="!carForm.get('model').valid && carForm.get('model').dirty" class="error">This field is required!</p>

            <label>Color</label>
            <input formControlName="color" type="text" class="form-control" placeholder="color">
            <p *ngIf="!carForm.get('color').valid && carForm.get('color').dirty" class="error">This field is required!</p>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <button [disabled] ="carForm.invalid" (click)="addCar()" class="btn btn-primary" type="submit">add car</button>
            </div>
          </div>
        </form>

      <!-- <pre>{{carForm.value | json}}</pre>
      <pre>mark input validation state {{carForm.get('mark').valid | json}}</pre>
      <pre>model input validation state {{carForm.get('model').valid | json}}</pre>
      <pre>color input validation state {{carForm.get('color').valid | json}}</pre> -->

      </div>
    </div>
  </div>
</div>

