
@import "variables";

.cs-table{
  background: @white;
  position: relative;
  top: 140px;
  // left: 180px;

  thead{
    background-color: @cyan;
    line-height: 2.4rem;
    font-size: 1.6rem;
  }

  th{
    font-weight: 700;
    text-transform: uppercase;
    color:@blue;
    text-align: center;
  }

  td{
    color:@blue;
    text-align: center;
  }

}
