<app-header>
<h1 header-info>cars list </h1>
  <div levels>car details / {{car.mark}}</div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="details">
        <h1 id="id-header"></h1>
        <table class="cs-table table table-striped">
          <thead>
            <tr>
              <th>mark</th>
              <th>model</th>
              <th>color</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>{{get.mark}}</td>
              <td>{{get.model}}</td>
              <td>{{get.color}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
