
<app-header>
  <h1 header-info>cars list</h1>
  <div levels>get all cars</div>
</app-header>


<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="cs-table table table-striped">
        <thead>
        <tr>
          <th>car id</th>
          <th>mark</th>
          <th>model</th>
          <th>color</th>
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars | async" class="row-car" [routerLink]="['/cars', car.id]">
          <td>{{car.id}}</td>
          <td>{{car.mark}}</td>
          <td>{{car.model}}</td>
          <td>{{car.color |uppercase}}</td>
          <td><button type="button" class="btn btn-danger" (click)="removeCar(car.id)">delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
