<app-header>
  <h1 header-info>cars list </h1>
    <div levels>delete car</div>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="details">
        <h1>car id to delete: {{carId}}</h1>
        <h2 id="delete-id-info" ></h2>
        <h2 id="delete-car-info"></h2>

          <div class="row form-group">
            <label>car id</label>
            <input type="text" [(ngModel)]="carId" placeholder="id" />
            <button class="btn btn-danger" (click)="removeCarById(carId)">delete</button>
          </div>

      </div>
    </div>
  </div>
</div>
